<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="beeaca1d-0611-4f89-a14c-dad09b00cde3" activeEnvironment="Default environment" name="ready-api-test-git-commit" resourceRoot="" lastOpened="2017-03-29T16:33:47.070-04:00" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="beeaca1d-0611-4f89-a14c-dad09b00cde3fileName">ready-api-test-git-commit</con:setting>
  </con:settings>
  <con:vcsConfiguration>
    <con:vcsName>Git</con:vcsName>
    <con:repositoryIdentifier>https://github.com/testj046/ready-api-project-test-repo.git</con:repositoryIdentifier>
  </con:vcsConfiguration>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:environment id="17a3ca51-d42f-483a-a9b4-c6f8f6bcb667" name="Test">
    <con:service type="SOAP" name="CurrencyConvertorSoap">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://www.webservicex.com/CurrencyConvertor.asmx</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CurrencyConvertorSoap12">
      <con:endpoint authProfile="Inherit From Parent" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://www.webservicex.com/CurrencyConvertor.asmx</con:endpoint>
    </con:service>
    <con:databaseConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
