<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="138560de-e590-4d1c-9202-08e2d8403313" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="138560de-e590-4d1c-9202-08e2d8403313fileName">REST-Service-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>