<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="56ffb3c1-262f-4b81-bf61-68784999dc6b" wadlVersion="http://research.sun.com/wadl/2006/10" name="Service1" type="rest" basePath="/WCFREST/Service.svc/" definitionUrl="http://rapis02.aqa.com.ru/wcfrest/service.wadl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="56ffb3c1-262f-4b81-bf61-68784999dc6bfileName">Service1</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://localhost:8096/</con:endpoint><con:endpoint>http://rapis02.aqa.com.ru</con:endpoint></con:endpoints></con:interface>